

body { 
  background: /*rgba(0, 0, 255, 0.4),*/ url('images/stade.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  #hashtagbattle {
    margin: auto;

    .container-battle {
      height: 100px;
      background: rgba(255, 255, 255, 0.5);
      .plots {
        height: 45px;
        margin-top: 55px;
        border-radius: 3px;
      }
      .fighter1 { float: left; }
      .fighter2 { float: right; }
      .img1 { float: left; }
      .img2 { float: right; }
    }
  }
}